:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .c-spacing {
    margin-left: 1rem;
  }

  .new-user {
    width: 14rem;
    font-weight: normal;
  }

  .player-header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
  }


}
