<div class="card">
    <div class="flex flex-row flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8rem h-3rem bg-purple-500 bg-font-bold text-white border-round m-2">Таланты</div>
        <div class="flex align-items-center justify-content-center w-8rem h-3rem bg-purple-500 font-bold text-white border-round m-2">Репутация</div>
        <div class="flex align-items-center justify-content-center w-8rem h-3rem bg-blue-500 font-bold text-white border-round m-2">Близость</div>
        <div class="flex align-items-center justify-content-center w-8rem h-3rem bg-blue-500 font-bold text-white border-round m-2">Обаяние</div>
    </div>
</div>