<p-scrollTop></p-scrollTop>
<p-table *ngIf="week.playerLayouts.length > 0" [value]="week.playerLayouts" dataKey="player.id"
         responsiveLayout="scroll" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="2" rowspan="2">
        {{week.date}}
        <button (click)="updateWeek()" class="p-button-rounded" icon="pi pi-refresh" pButton pRipple
                type="button"></button>
      </th>
      <th colspan="2">Групповой</th>
      <th colspan="2">Четвертьфинал</th>
      <th colspan="2">Полуфинал</th>
      <th colspan="2">Финал</th>
    </tr>
    <tr>
      <th>Защита</th>
      <th>Атака</th>
      <th>Защита</th>
      <th>Атака</th>
      <th>Защита</th>
      <th>Атака</th>
      <th>Защита</th>
      <th>Атака</th>
    </tr>
  </ng-template>
  <ng-template let-expanded="expanded" let-player pTemplate="body">
    <tr>
      <td>
        <button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" [pRowToggler]="player" class="p-button-text p-button-rounded p-button-plain" pButton pRipple type="button"></button>
      </td>
      <td>{{player.player.name}}</td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b2, 'defence1')"
                 (onDrop)="onDrop(player.b2, 'defence1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b2.defence1) ? 'info' : 'danger'}}" value="{{player.b2.defence1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b2, 'defence2')"
                 (onDrop)="onDrop(player.b2, 'defence2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b2.defence2) ? 'info' : 'danger'}}" value="{{player.b2.defence2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b2, 'attack1')"
                 (onDrop)="onDrop(player.b2, 'attack1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b2.attack1) ? 'info' : 'danger'}}" value="{{player.b2.attack1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b2, 'attack2')"
                 (onDrop)="onDrop(player.b2, 'attack2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b2.attack2) ? 'info' : 'danger'}}" value="{{player.b2.attack2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b3, 'defence1')"
                 (onDrop)="onDrop(player.b3, 'defence1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b3.defence1) ? 'info' : 'danger'}}" value="{{player.b3.defence1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b3, 'defence2')"
                 (onDrop)="onDrop(player.b3, 'defence2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b3.defence2) ? 'info' : 'danger'}}" value="{{player.b3.defence2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b3, 'attack1')"
                 (onDrop)="onDrop(player.b3, 'attack1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b3.attack1) ? 'info' : 'danger'}}" value="{{player.b3.attack1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b3, 'attack2')"
                 (onDrop)="onDrop(player.b3, 'attack2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b3.attack2) ? 'info' : 'danger'}}" value="{{player.b3.attack2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b5, 'defence1')"
                 (onDrop)="onDrop(player.b5, 'defence1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b5.defence1) ? 'info' : 'danger'}}" value="{{player.b5.defence1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b5, 'defence2')"
                 (onDrop)="onDrop(player.b5, 'defence2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b5.defence2) ? 'info' : 'danger'}}" value="{{player.b5.defence2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b5, 'attack1')"
                 (onDrop)="onDrop(player.b5, 'attack1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b5.attack1) ? 'info' : 'danger'}}" value="{{player.b5.attack1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b5, 'attack2')"
                 (onDrop)="onDrop(player.b5, 'attack2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b5.attack2) ? 'info' : 'danger'}}" value="{{player.b5.attack2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b7, 'defence1')"
                 (onDrop)="onDrop(player.b7, 'defence1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b7.defence1) ? 'info' : 'danger'}}" value="{{player.b7.defence1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b7, 'defence2')"
                 (onDrop)="onDrop(player.b7, 'defence2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b7.defence2) ? 'info' : 'danger'}}" value="{{player.b7.defence2}}"></p-tag>
        </div>
      </td>
      <td>
        <div class="bv">
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b7, 'attack1')"
                 (onDrop)="onDrop(player.b7, 'attack1')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b7.attack1) ? 'info' : 'danger'}}" value="{{player.b7.attack1}}"></p-tag>
          <p-tag (onDragEnd)="onDragEnd()" (onDragStart)="onDragStart(player.b7, 'attack2')"
                 (onDrop)="onDrop(player.b7, 'attack2')" class="d-tag c-draggable"
                 dragEffect="move" pDraggable="{{player.player.id}}" pDroppable="{{player.player.id}}"
                 severity="{{isWeak(player.b7.attack2) ? 'info' : 'danger'}}" value="{{player.b7.attack2}}"></p-tag>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template let-player pTemplate="rowexpansion">
    <tr>
      <td colspan="2"></td>
      <td>
        <input [(ngModel)]="player.b2.defence1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b2.defence2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b2.attack1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b2.attack2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b3.defence1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b3.defence2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b3.attack1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b3.attack2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b5.defence1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b5.defence2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b5.attack1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b5.attack2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b7.defence1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b7.defence2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
      <td>
        <input [(ngModel)]="player.b7.attack1" class="p-inputtext-sm in-table" pInputText type="text">
        <input [(ngModel)]="player.b7.attack2" class="p-inputtext-sm in-table" pInputText type="text">
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td></td>
      <td>Всего</td>
      <td>{{weekTotal.defenceB2}}</td>
      <td>{{weekTotal.attackB2}}</td>
      <td>{{weekTotal.defenceB3}}</td>
      <td>{{weekTotal.attackB3}}</td>
      <td>{{weekTotal.defenceB5}}</td>
      <td>{{weekTotal.attackB5}}</td>
      <td>{{weekTotal.defenceB7}}</td>
      <td>{{weekTotal.attackB7}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Топы</td>
      <td>{{weekTotal.defenceB2}}</td>
      <td>{{weekTotal.attackB2}}</td>
      <td>{{weekTotal.defenceB3}}</td>
      <td>{{weekTotal.attackB3}}</td>
      <td>{{weekTotal.defenceB5}}</td>
      <td>{{weekTotal.attackB5}}</td>
      <td>{{weekTotal.defenceB7}}</td>
      <td>{{weekTotal.attackB7}}</td>
    </tr>
  </ng-template>
</p-table>
<h3>Не в битве</h3>
<div class="bh">
  <p-chip (click)="addToBattle(player)" *ngFor="let player of filter()" icon="pi pi-plus" label="{{player.name}}" styleClass="custom-chip"></p-chip>
</div>


<!--<div *ngFor="let player of week.playerLayouts" class="player-layout-list-item">
  <p-card class="">
    {{player.player.name}}
  </p-card>
  <p-card class="battle">
    <div class="header">Хз что</div>
    <div class="attack">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE2', player.battleLayouts).attack1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE2', player.battleLayouts).attack2">
    </div>
    <div class="defence">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE2', player.battleLayouts).defence1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE2', player.battleLayouts).defence2">
    </div>
  </p-card>
  <p-card class="battle">
    <div class="header">Четвертьфинал</div>
    <div class="attack">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE3', player.battleLayouts).attack1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE3', player.battleLayouts).attack2">
    </div>
    <div class="defence">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE3', player.battleLayouts).defence1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE3', player.battleLayouts).defence2">
    </div>
  </p-card>
  <p-card class="battle">
    <div class="header">Полуфинал</div>
    <div class="attack">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE5', player.battleLayouts).attack1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE5', player.battleLayouts).attack2">
    </div>
    <div class="defence">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE5', player.battleLayouts).defence1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE5', player.battleLayouts).defence2">
    </div>
  </p-card>
  <p-card class="battle">
    <div class="header">Финал</div>
    <div class="attack">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE7', player.battleLayouts).attack1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE7', player.battleLayouts).attack2">
    </div>
    <div class="defence">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE7', player.battleLayouts).defence1">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="getBattle('BATTLE7', player.battleLayouts).defence2">
    </div>
  </p-card>
</div>-->


