:host ::ng-deep {
  .player-layout-list-item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .bv {
    display: flex;
    flex-direction: column;
  }

  .bh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .weak {
    background: rgba(var(--primary-color), 0.4);
  }

  .d-chip {
    //background: var(--primary-color);
    //color: var(--primary-color-text);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    //cursor: pointer
    height: 0.5rem;
    width: 1rem;
  }

  .d-tag {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .in-table {
    width: 6rem;
    height: 1rem;
  }

  .p-draggable-enter {
    border-style: solid;
    border-color: blueviolet;;
    border-width: 1px;
  }

  .c-draggable {
    border-style: solid;
    border-color: var(--primary-color-text);
    border-width: 1px;
  }
}
