<p-scrollTop></p-scrollTop>
<div class="card">
  <p-table #dt1 [globalFilterFields]="['name']" [value]="persons" dataKey="person.id" responsiveLayout="scroll"
           styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="person-header">
        <!--        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>-->
        <div class="p-inputgroup new-user">
          <div class="p-input-icon-left p-float-label">
            <i class="pi pi-user-plus"></i>
            <input #newPerson (keypress)="checkAndAdd($event, newPerson);" class="p-inputtext-sm" id="newPerson"
                   pInputText type="text">
            <label for="newPerson">Новый игрок</label>
          </div>
          <button (click)="addPerson(newPerson)" icon="pi pi-check" pButton type="button"></button>
        </div>
        <span class="p-input-icon-left p-float-label c-spacing">
                    <i class="pi pi-search"></i>
                    <input #si (input)="dt1.filterGlobal(si.value, 'contains')" id="search" pInputText type="text"/>
                    <label for="search">Искать по имени</label>
                </span>
      </div>
    </ng-template>
    <ng-template let-person pTemplate="body">
      <tr (click)="onSelect(person)">
        <td>
          <p-avatar icon="pi pi-user"></p-avatar>
        </td>
        <td>{{person.name}}</td>
        <td>{{person.date}}</td>
        <td>
          <button (click)="deletePerson(person.id)"
                  class="p-button-rounded p-button-danger p-button-outlined p-button-sm" icon="pi pi-times" pButton
                  pRipple type="button"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!--<p-dataView #dv [rows]="9" [value]="players" filterBy="name" layout="list">
    <ng-template pTemplate="header">
      <div class="player-header">

        <div class="p-inputgroup new-user">
          <div class="p-input-icon-left p-float-label">
            <i class="pi pi-user-plus"></i>
            <input #newPlayer (keypress)="checkAndAdd($event, newPlayer.value)" class="p-inputtext-sm" id="newPlayer" pInputText type="text">
            <label for="newPlayer">Новый игрок</label>
          </div>
          <button (click)="addPlayer(newPlayer.value)" icon="pi pi-check" pButton type="button"></button>
        </div>

        <span class="p-input-icon-left p-float-label c-spacing">
          <i class="pi pi-search"></i>
          <input #si (input)="dv.filter(si.value)" class="p-inputtext-sm" id="search" pInputText type="search">
          <label for="search">Искать по имени</label>
        </span>
        &lt;!&ndash;        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>&ndash;&gt;
      </div>
    </ng-template>

    <ng-template let-player pTemplate="listItem">
      <div class="player-list-item">
        <div class="player-list-detail">
          <p-avatar icon="pi pi-user"></p-avatar>
          <p-inplace [closable]=true class="player-name">
            <ng-template pTemplate="display">{{player.name}}</ng-template>
            <ng-template pTemplate="content">
              <input pInputText type="text" value="{{player.name}}">
            </ng-template>
          </p-inplace>
          &lt;!&ndash;          <div class="player-name"></div>&ndash;&gt;
        </div>
        <div class="player-list-action">
          <button (click)="deletePlayer(player.id)" class="p-button-rounded p-button-danger p-button-outlined p-button-sm" icon="pi pi-times" pButton pRipple type="button"></button>
        </div>
      </div>
    </ng-template>
    <ng-template let-player pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="player-grid-item card">
          <div class="player-grid-item-top">
            &lt;!&ndash;            <div>&ndash;&gt;
            &lt;!&ndash;              <i class="pi pi-tag player-category-icon"></i>&ndash;&gt;
            &lt;!&ndash;              <span class="player-category">{{product.category}}</span>&ndash;&gt;
            &lt;!&ndash;            </div>&ndash;&gt;
            &lt;!&ndash;            <span [class]="'player-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>&ndash;&gt;
          </div>
          <div class="player-grid-item-content">
            <p-avatar icon="pi pi-user"></p-avatar>
            <div class="player-name">{{player.name}}</div>
            &lt;!&ndash;            <div class="player-description">{{product.description}}</div>&ndash;&gt;
            &lt;!&ndash;            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>&ndash;&gt;
          </div>
          <div class="player-grid-item-bottom">
            &lt;!&ndash;            <span class="player-price">${{product.price}}</span>&ndash;&gt;
            <p-button icon="pi pi-shopping-cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>-->
</div>
<div *ngIf="selected" class="card">
  <h2>{{selected.name | uppercase}} Details</h2>
  <div>id: {{selected.id}}</div>
  <div>
    <label for="person-name">Person name: </label>
    <input id="person-name" [(ngModel)]="selected.name" placeholder="name">
    <label for="person-bd">Person birthday: </label>
    <input id="person-bd" [(ngModel)]="selected.date" placeholder="dd/mm/yyyy">
  </div>
  <button (click)="savePerson()" icon="pi pi-check" pButton type="button">Save</button>
</div>

