<p-scrollTop></p-scrollTop>

<div class="card">
  <div class="grid">
    <div class="col-6">
      <p-table #dt1 [globalFilterFields]="['name']" [value]="persons" dataKey="person.id" responsiveLayout="scroll"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
          <div class="person-header">
            <!--        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>-->
            <div class="p-inputgroup new-user">
              <div class="p-input-icon-left p-float-label">
                <i class="pi pi-user-plus"></i>
                <input #newPerson (keypress)="checkAndAdd($event, newPerson);" class="p-inputtext-sm" id="newPerson"
                  pInputText type="text">
                <label for="newPerson">Новый игрок</label>
              </div>
              <button (click)="addPerson(newPerson)" icon="pi pi-check" pButton type="button"></button>
            </div>
            <span class="p-input-icon-left p-float-label c-spacing">
              <i class="pi pi-search"></i>
              <input #si (input)="dt1.filterGlobal(si.value, 'contains')" id="search" pInputText type="text" />
              <label for="search">Искать по имени</label>
            </span>
          </div>
        </ng-template>
        <ng-template let-person pTemplate="body">
          <tr (click)="onSelect(person)">
            <td>
              <p-avatar icon="pi pi-user"></p-avatar>
            </td>
            <td>{{person.name}}</td>
            <td>{{person.date}}</td>
            <td>
              <button (click)="deletePerson(person.id)"
                class="p-button-rounded p-button-danger p-button-outlined p-button-sm" icon="pi pi-times" pButton
                pRipple type="button"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="selected" class="col-6">
      <h2>{{selected.name | uppercase}} Details</h2>
      <div>id: {{selected.id}}</div>
      <div class="person-details">
        <div class="p-inputgroup">
          <div class="p-input-icon-left p-float-label">
            <i class="pi pi-user"></i>
            <input id="person-name" [(ngModel)]="selected.name" type="text" pInputText placeholder="Name">
            <label for="person-name">Имя</label>
          </div>
        </div>
        <div class="p-inputgroup v-spacing">
          <div class="p-input-icon-left p-float-label">
            <i class="pi pi-calendar"></i>
            <!-- <p-inputMask id="person-bd" mask="99/99/9999" [(ngModel)]="selected.date"></p-inputMask> -->
            <input id="person-bd" [(ngModel)]="selected.date" mask="99/99/9999" type="text" pInputText pInputMask placeholder="Birthday">
            <label for="person-bd">Дата</label>
          </div>
        </div>
        <button (click)="savePerson()" class="p-button v-spacing col-1" icon="pi pi-save" pButton pRipple type="button"
          label="Save"></button>
      </div>
    </div>
  </div>
</div>